h1 {
 text-align: center;
 color: darkblue;
 font-family: 'Permanent Marker', cursive;
}
.openingP {
  font-size: 1.1 em;
  font-weight: 300;
}
/* our three search table styling */
.searchCardHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResultTable {
  border: 3px solid darkblue;
  margin: 5px;
  padding: 10px;
}

.itinerary {
  text-align: center;
  border: 3px solid darkblue;
  margin: 5px;
  padding: 10px;
} 
.searchBox {
  border: 3px solid darkblue;
  margin: 5px;
  padding: 10px;
}


/* footer styling */
footer {
  text-align: center;
  position:fixed;
  bottom:0; 
  width:100%;
  height:40px;  
}

.boxedEvent {
  border: 3px solid black;
  margin-right: 5px;
  text-align: center;
}

.warning {
  border: 2px solid black;
  background-color: lightyellow;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  color: red;
  padding: 5px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

img {
  width: 100%;
  height: auto;
  align-content: center;
}

h3 {
  text-align: center;
}
body {
  background-color: #86a8e7 
}