h1 {
 text-align: center;
}

/* our three search table styling */
.searchCardHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResultTable {
  border: 3px solid darkblue;
  margin: 5px;
  padding: 3px;
}

.itinerary {
  border: 3px solid darkblue;
  margin: 5px;
  padding: 3px;
} 
.searchBox {
  border: 3px solid darkblue;
  margin: 5px;
  padding: 3px;
}


/* footer styling */
footer {
  text-align: center;
  position:fixed;
  bottom:0; 
  width:100%;
  height:40px;  
}

.hidden {
  display: none;
}
.visible {
  display: block;
}