h1 {
 text-align: center;
}

/* our three search table styling */
.searchCardHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResultTable {
  border: 1px solid red;
  margin: 5px;
  padding: 3px;
}

.itinerary {
  border: 1px solid red;
  margin: 5px;
  padding: 3px;
} 
.searchBox {
  border: 1px solid red;
  margin: 5px;
  padding: 3px;
}


/* footer styling */
footer {
  text-align: center;
  position:fixed;
  bottom:0; 
  width:100%;
  height:40px; 
}